In [1]:
import pandas as pd

In [2]:
lst = ["i am k", 6,7,6,3]

In [4]:
pd.Series(lst) # series can have any data type object

0    i am k
1         6
2         7
3         6
4         3
dtype: object

In [9]:
pd.Series(5,index= [0,1,2,3,4])

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [11]:
pd.Series([num*10 for num in range(10)]) # using for loop

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [12]:
# using dictionry

mydict = {"a":"1","b":"2","c":"3"}

In [13]:
pd.Series(mydict)

a    1
b    2
c    3
dtype: object

# Using csv file

In [14]:
pd.read_csv("random1.csv")

   67.72003252
0     6.217307
1    37.743532
2    37.556650
3    32.792233
4    51.034497
5    57.462068
6     9.021376
7    93.856161
8    95.177522

In [15]:
pd.read_csv("random1.csv", header = None)

           0
0  67.720033
1   6.217307
2  37.743532
3  37.556650
4  32.792233
5  51.034497
6  57.462068
7   9.021376
8  93.856161
9  95.177522

In [16]:
pd.read_csv("random1.csv", header = None,squeeze=True)

0    67.720033
1     6.217307
2    37.743532
3    37.556650
4    32.792233
5    51.034497
6    57.462068
7     9.021376
8    93.856161
9    95.177522
Name: 0, dtype: float64

In [18]:
pd.read_csv("Stock.csv", squeeze = True, usecols= ['Open'])

0     16.770000
1     17.100000
2     17.059999
3     16.900000
4     16.969999
5     16.240000
6     16.389999
7     16.549999
8     15.990000
9     15.770000
10    16.389999
11    16.330000
12    16.340000
13    16.240000
14    16.469999
15    16.790001
16    17.100000
17    17.299999
18    16.299999
19    16.459999
Name: Open, dtype: float64